rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /foods/{foodId} {

      // Users can create food only for themselves
      allow create: if request.auth != null
                    && request.resource.data.userId == request.auth.uid;

      // Users can read only their own food
      allow read: if request.auth != null
                   && resource.data.userId == request.auth.uid;

      // Users can update only their own food
      // and cannot change the owner
      allow update: if request.auth != null
                    && resource.data.userId == request.auth.uid
                    && request.resource.data.userId == request.auth.uid;

      // Users can delete only their own food
      allow delete: if request.auth != null
                    && resource.data.userId == request.auth.uid;
    }
  }
}